.formContainer {
  
  
  display: flex;
  flex-direction: column;
  width:50% !important; // To override the 100% width of container
  .formHeading{
      text-align: center;
      font-size: 200%;
      margin:2%;
      font-weight: 500;
  }
  .formImage{
      width: 40%;
      margin-bottom: -10%;
    
  }
  .innerForm{
    // margin-bottom: 5%;
    .inputGroup {
        display: flex;
        flex-direction: row;
        width: 80%;
        justify-content: space-between;
        margin: 1%;
        .inputEntity {
          text-align: left;
          padding: 3px;
        }
        .textInput {
          float: right;
          width: 50%;
        }
        .inoutLabel {
          float: left;
          width: 50%;
        }
      }
  }

  .custBtn {
    margin: 5px;
  }
}
