.dynamicPage{

.dynamicFormContainer{
    .formHeading{
        text-align: center;
        font-size: 200%;
        font-weight: 400;
        padding: 10px;
        margin:10px;
    }

    .fieldDiv{
        display: flex;
        flex-direction: column;
        background-color: antiquewhite;
        margin: 1%;
        padding: 1%;
        .fieldOptions{
            text-align: right;
            padding: 5px;
        }
    }
    
    .btnGrp{
            
    }
    
}
}