.dynamicPage{

.dynamicFormContainer{
    .formHeading{
        text-align: center;
        font-size: 200%;
        font-weight: 400;
        padding: 10px;
        margin:10px;
    }
    
    .btnGrp{
            
    }
    
}
}